<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.cnodejs.android.oauth">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>

        <activity
            android:name="org.cnodejs.android.oauth.CNodeOAuthActivity"
            android:label="@string/cnode_oauth"
            android:theme="@style/CNodeOAuth"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />

    </application>

</manifest>
