<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.cnodejs.android.oauthlogin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>

        <activity
            android:name=".CNodeOAuthLoginActivity"
            android:label="@string/cnode_oauth_login"
            android:theme="@style/CNodeOAuthLogin"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />

    </application>

</manifest>
